__pycache__/*
archive/*
cards/*
config/*
update/*
archiveOld/*
Templates/*
*Test*
bugs.md
colours.py
archive.md
cardTemplate.md
cardTemplates.md
progress.*
upPro.sh
script.sh
*.pyc
testOut.md
search.sh
